<header class="header">
	<div class="header__container container">
		<a href="/" class="logo">
			<img
				width="120"
				height="74"
				src="./assets/img/svg/logo.svg"
				alt="logo"
				class="logo__img" />
		</a>

		<nav class="header__nav nav">
			<ul class="menu list-reset">
				<li class="menu__item">
					<a href="#" class="menu__link">Услуги</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Преимущества</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Функции</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Конструктор</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Этапы разработки</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Демо приложения/админки</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Отзывы</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Контакты</a>
				</li>
			</ul>
		</nav>
		<div class="header__btns">
			<button class="header__calc-btn calc-project btn-reset">
				<svg width="28" height="28">
					<use href="./assets/img/svg/sprite.svg#calc"></use>
				</svg>
				<span>Рассчитай стоимость приложения</span>
			</button>

			<!-- mobile -->
			<div class="header__burger burger">
				<span class="burger__stick burger__stick-1"></span>
				<span class="burger__stick burger__stick-2"></span>
				<span class="burger__stick burger__stick-3"></span>
			</div>
		</div>
	</div>
</header>
