:root {
	--font-family: "Igra Sans", sans-serif;

	--pure-black: #000;
	--black: #181819;
	--white: #fff;
	--neon: #ddee6e;
	--magenta: #ff3fd9;
	--purple: #b75ca5;
	--light-gray-100: #ebecf3;
	--light-gray: #dcdfe7;
	--bg: #f0f2f6;
}

// screens
$xxl: 1920px;
$xl: 1440px;
$lg: 1024px;
$md: 768px;
$sm: 480px;
